body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.widget {
  border: thin solid black;
  padding: 1rem;
  margin: 1rem;
  float: left;
}

.widget-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.music-recommender {
  width: 23rem;
}

.music-recommender .aoty {
  background-color: #f2dd3e;
}
