body {
  font-family: serif;
  max-width: 80rem;
  margin: 0 auto;
}

code {
  font-family: monospace;
}

p,
table {
  margin: 1rem 0;
}

.widget {
  border: thin solid black;
  padding: 1rem;
  margin: 0.5rem;
  float: left;
}

.widget-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.music-recommender {
  width: 23rem;
}

.music-recommender .aoty {
  background-color: #f2dd3e;
}
